<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <div class="header_img"></div>
        <h1>My Top Nintendo Switch Games 2019</h1>
    </div>
    
    <div class="first_box">
        <h1>Astral Chain</h1>
        <div class="first_image">
            <img src="../../assets/img/astral-chain.jpg" style="box-shadow: 0 0 15px 0 black;">
       </div>
        <p>
            PlatinumGames has established itself as one of the best action game studios in the world, with critical darlings like Bayonetta 2 and the existential Nier: Automata. Automata lead designer Takahisa Taura was given his first chance to direct with the Switch-exclusive Astral Chain, which doubles down on the insane action that PlatinumGames has prided itself on for the last decade. Rather than the post-apocalypse, you’re in a bustling city that is under attack by mysterious interdimensional forces, and it’s up to you to stop it.
        </p>
    </div>

    <div class="second_box">
        <h1>Super Smash Bros. Ultimate</h1>
        <div class="second_image">
            <img src="../../assets/img/super-smash-bros-ultimate.jpg" style="box-shadow: 0 0 15px 0 black;">
        </div>
        <p>
            The Nintendo Switch game that could become your sole obsession, Super Smash Bros. Ultimate is a fighter so comprehensive, it’s worth buying a Switch for it alone. The latest universe-melding fighter features every single character ever included in the series’ nearly 20-year history, and more than 100 stages are available as soon as you boot it up for the first time.
        </p>
    </div>

    <div class="third_box">
        <h1>The Legend of Zelda: Breath of the Wild</h1>
        <div class="third_image">
            <img src="../../assets/img/breath-of-the-wild.jpg" style="box-shadow: 0 0 15px 0 black;">
        </div>
        <p>
            A new Zelda game — do we need to say more? The flagship title will undoubtedly be attached to nearly every Switch sale at launch. While the Zelda name alone is enough to intrigue most buyers, Breath of the Wild still seeks to innovate the series’ classic formula and bring Link’s adventures into the modern era. The lands of Hyrule have opened up, giving you the freedom to explore and complete quests as you please. Weapons and items now have temporary lifespans, meaning you will have to search for and craft items to assist you on your adventure.
        </p>
    </div>

    <div class="fourth_box">
        <h1>Pokémon Sword and Shield</h1>
        <div class="fourth_image">
            <img src="../../assets/img/pokemon-sword-and-shield.jpg" style="box-shadow: 0 0 15px 0 black;">
        </div>
        <p>
            The Nintendo Switch got the Pokémon: Let’s Go games in 2018, which remade Pokémon Yellow in a modern engine and with streamlined gameplay that would be familiar to Pokémon Go players. It wasn’t a full-fledged role-playing game, however, and it would be another year before Game Freak deliver that in the form of Pokémon Sword and Shield. The two games include hundreds of monsters, gorgeous environments, the new Dynamax transformation type, and plenty of options for playing with your friends. It’s also the first Pokémon role-playing game to release for a home console, and looks just as gorgeous on a television as it does in handheld mode.
        </p>
    </div>

    <div class="fifth_box">
        <h1>Splatoon 2</h1>
        <div class="fifth_image">
            <img src="../../assets/img/hero-header.jpg" style="box-shadow: 0 0 15px 0 black;">
        </div>
        <p>
            The original Splatoon reinvented the multiplayer shooter by taking the emphasis off of simply eliminating enemies, and its unique ink-spraying online matches were unlike anything we had ever seen before. The Switch sequel, Splatoon 2, largely sticks to the formula we saw previously, but its inventive new multiplayer maps and weapons make the game even more engaging. The game’s humor is also back in full force, with puns galore and user-created artwork that is both hilarious and terrifying.
        </p>
    </div>
</body>
</html>