body{
    margin: 0;
    padding: 0 35px;
    font-family: Arial, Helvetica, sans-serif;    
}

.header{
    background-color: red;
    height: 680px;
    box-shadow: 0 0 15px 0 black;
}
p{
    font-family:  'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.2px;
}

.header_img{
    
    background-image: url(../../assets/img/switch-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-color: red;
}

.header h1{
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1.2px;
    padding: 0 0 0 15px;
   
    
}
.first_image,.second_image,.third_image,.fourth_image,.fifth_image{
    text-align: center;
    
}

.first_image img, .second_image img, .third_image img, .fourth_image img, .fifth_image img{
    width: 768px; height: 428px;
}

.first_box{
    padding: 0 150px 0 150px;
}

.second_box{
    padding: 0 150px 0 150px;
}

.third_box{
    padding: 0 150px 0 150px;
}

.fourth_box{
    padding: 0 150px 0 150px;
}

.fifth_box{
    padding: 0 150px 0 150px;
}

